# 配置 sayhello 服务的 OpenAPI 文档生成规则
version: v2

clean: false

managed:
  enabled: true

  disable:
    - module: buf.build/googleapis/googleapis
    - module: buf.build/bufbuild/protovalidate
    - module: buf.build/kratos/apis
    - module: buf.build/gnostic/gnostic

  override:
    - file_option: go_package_prefix
      value: github.com/ToAtlas/AtlasBackend/api/gen/go

inputs:
  - directory: protos
    paths:
      - protos/doc/service/v1  # 生成 sayhello 服务的接口

plugins:
  # generate openapi v3 yaml doc
  - local: protoc-gen-openapi
    out: ../app/doc/service
    opt:
      - naming=json           # 使用 JSON 风格字段命名
      - depth=2               # 循环消息的递归深度
      - default_response=false # 不添加默认响应消息
      - enum_type=string      # 枚举类型使用字符串序列化
      - output_mode=merged    # 生成单一合并的 OpenAPI 文件
      - fq_schema_naming=false # Schema 命名不加包名前缀
